<div class="bg-lines">
  <div class="bg-gradient">
    <div class="parent">
      <a class="button" href="https://artorias-the-abysswalker.web.app/" target="_blank"><div class="child child-game"></div></a>
      <a class="button" routerLink="/recipes"><div class="child child-foods"></div></a>
      <a class="button" routerLink=""><div class="child child-empty"></div></a>
      <a class="button" routerLink=""><div class="child child-empty"></div></a>
      <a class="button" routerLink=""><div class="child child-empty"></div></a>
      <a class="button" routerLink=""><div class="child child-empty"></div></a>
      <a class="button" routerLink=""><div class="child child-empty"></div></a>
      <a class="button" routerLink=""><div class="child child-empty"></div></a>
      <a class="button" routerLink=""><div class="child child-empty"></div></a>
      <a class="button" routerLink=""><div class="child child-empty"></div></a>
      <a class="button" routerLink=""><div class="child child-empty"></div></a>
      <a class="button" routerLink=""><div class="child child-empty"></div></a>
    </div> 
  </div>
</div>
<footer class="bottombar">
  <div class="circleBttn">
    <input class="center" type="image" src="assets/home.png" alt="home icon" width="80" height="80">
  </div>
  <div>
    <h2 class="date"><b>{{ currentDate | date : 'EEE MM/dd'}}</b></h2>
  </div>
  <div class="circleBttn">
    <a href="mailto:avebrecla@gmail.com"><img class="center" src="assets/email.png" alt="email icon" width="80" height="80"></a>
  </div>
</footer>